<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="vueapp">
      <button v-on:click="success = !success">Success</button> &nbsp;
      <button v-on:click="error = !error">Error</button>
        <div v-if="success">Success Message</div>
        <div v-if="error">Error Message</div>
        <hr>
        <div v-show="success">I will show success. Let me just hide! I will not remove</div>
    </div>

    <script src="06_vue_conditionals.js"></script>
</body>

</html>